body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
}











/* The scrollbar track (background) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* The track background */
::-webkit-scrollbar-track {
  background: #f1f5f9; 
}

/* The moving part of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* Light grey */
  border-radius: 4px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* Darker grey */
}